<h1>Dashboard</h1>
<% if @offers.any? %>
	<h2>Minhas Ofertas</h2>
	<table class="table">
		<tbody>
	<% @offers.each do |offer| %>
		<tr>
			<td><%= link_to offer.title, offer %></td>
			<td><%= link_to offer.text, offer %></td>
		</tr>
	<% end %>
		</tbody>
	</table>
<% end %>