<h1>Minhas Ofertas</h1>

<% if @offers.any? %>
<table class="table">
  <thead>
  <tr>
    <th>Título</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @offers.each do |offer| %>
  <tr>
    <td><%= link_to offer.title, offer %></td>
    <td><%= link_to 'Editar', edit_offer_path(offer) %></td>
    <td><%= link_to 'Apagar', offer, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<% end %>

<br />

<%= link_to 'New Offer', new_offer_path %>
