<hr>
	<footer id="footer">
        <p class="pull-right"><a href="#">Topo</a></p>
        <div class="links">
          <a href="https://github.com/rodrigosggouvea/game_store_ultra">GitHub</a>
        </div>
        <p>
        <br/>
        Baseado no <a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Hosteado no <a target="_blank" href="http://pages.github.com/">GitHub</a>. 
        Ícones do <a target="_blank" href="http://glyphicons.com/">Glyphicons</a>.
      </p>
      </footer>