<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="brand" href="../">GAMESTOREULTRA</a>
       <div class="nav-collapse" id="main-menu">
        <ul class="nav pull-right" id="main-menu-right">
          <% if current_user %>
            <li>
              <%= link_to root_path do %> 
                Logado como <strong><%= current_user.name %></strong>!
              <% end %>
            </li>
            <li> 
              <%= link_to "Sair", signout_path, id: "sign_out" %>
            </li>
          <% else %>
            <li> 
              <%= link_to "Logar pelo Facebook", "/auth/facebook", id: "sign_in" %>
            </li>
          <% end %>
        </ul>
       </div>
     </div>
   </div>
</div>