<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span12">
      <h1>GameStoreUltra</h1>
      <p class="lead">Revolução no mundo brasileiro dos games!</p>
    </div>
  </div>
</header>